In [31]:
import numpy as np
import pandas as pd

data = pd.read_csv("india-food-prices.csv")
data.head()
x=data["date"]
y=data["price"]
data.describe()

/var/folders/8y/g9dn_v3953j0q8tjpk2n5jgc0000gn/T/ipykernel_11606/3663292594.py:4: DtypeWarning: Columns (4,5,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("india-food-prices.csv")

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
count,133138,132349,132349,133138,132349,132349,133138,133138,133138,133138,133138,133138,133138
unique,332,32,150,157,210,206,7,24,4,2,2,23995,2874
top,2021-06-15,Uttar Pradesh,Mumbai city,Mumbai,18.975,72.825833,cereals and tubers,Rice,KG,actual,INR,16.0,0.27
freq,2941,9661,4112,4112,2920,2920,33234,10573,123716,133137,133137,1393,1241

In [32]:
data.drop(['admin1','admin2','category','unit','pricetype','currency'],axis=1,inplace=True)
data.drop(['latitude','longitude'],axis=1,inplace=True)

In [33]:
data.head()

         date            market      commodity   price    usdprice
0       #date  #loc+market+name     #item+name  #value  #value+usd
1  1994-01-15             Delhi           Rice     8.0        0.25
2  1994-01-15             Delhi          Wheat     5.0        0.16
3  1994-01-15             Delhi          Sugar    13.5        0.43
4  1994-01-15             Delhi  Oil (mustard)    31.0        0.99

In [34]:
data.describe()

              date  market commodity   price usdprice
count       133138  133138    133138  133138   133138
unique         332     157        24   23995     2874
top     2021-06-15  Mumbai      Rice    16.0     0.27
freq          2941    4112     10573    1393     1241

In [35]:
data.isnull().sum()

date         0
market       0
commodity    0
price        0
usdprice     0
dtype: int64

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133138 entries, 0 to 133137
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       133138 non-null  object
 1   market     133138 non-null  object
 2   commodity  133138 non-null  object
 3   price      133138 non-null  object
 4   usdprice   133138 non-null  object
dtypes: object(5)
memory usage: 5.1+ MB

In [37]:
dfsplit[['DD','MM','YYYY']] = data['date'].str.split('-',expand=True)
dfsplit['price']=data['price']

NameError: name 'dfsplit' is not defined

In [ ]:
dfsplit.head()
dfsplit.dtypes

In [93]:
dfsplit['price']= pd.to_numeric(dfsplit['price'])
dfsplit['MM']= pd.to_numeric(dfsplit['MM'])
dfsplit['YYYY']= pd.to_numeric(dfsplit['YYYY'])
dfsplit['DD']= pd.to_numeric(dfsplit['DD'])

In [1]:
dfsplit['ut']=dfsplit['DD']*10000000+dfsplit['MM']*100+dfsplit['YYYY']

NameError: name 'dfsplit' is not defined

In [ ]:
import matplotlib.pyplot as plt
x = dfsplit.ut
y = dfsplit.price

plt.scatter(x,y)
plt.show()

In [28]:
new_df.date = pd.to_datetime(new_df.date, format='%Y-%m-%d')
new_df.score = new_df.score.astype(int)
new_df

NameError: name 'new_df' is not defined